ServerlessSPA/input/S3Web_parallel_output.json
{
  "StartAt": "StoreParameters",
  "States": {
"StoreParameters": {
  "Type": "Task",
  "Resource": "arn:aws:lambda:us-east-1:514712703977:function:S3Web_Initialize_Parameters",
  "ResultPath": null,
  "OutputPath": "$",
  "Next": "Prerequisites"  
    },
"Prerequisites": {
  "Type": "Parallel",
  "Next": "Create_Cloudfront",
  "ResultPath": null,
  "OutputPath": "$",
  "Branches": [
    {
      "StartAt": "RequestCert",
      "States": {
        "RequestCert": {
          "Type": "Task",
          "Resource": "arn:aws:lambda:us-east-1:514712703977:function:S3Web_Generate_Certificate",
          "ResultPath": null,
          "OutputPath": "$",
          "Next": "Cert_Wait"
        },
        "Cert_Wait": {
          "Type": "Task",
          "Resource": "arn:aws:lambda:us-east-1:514712703977:function:S3Web_CertWait",
          "ResultPath": null,
          "OutputPath": null,
          "End": true
        }
      }
    },
    {
      "StartAt": "Buckets_Pipeline",
      "States": {
          "Buckets_Pipeline": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:514712703977:function:S3Web_CreateBuckets_Pipeline",
            "ResultPath": null,
            "OutputPath": "$",
            "Next": "Bucket_Pipeline_Wait"
          },
          "Bucket_Pipeline_Wait": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:514712703977:function:S3Web_Pipeline_Wait",
            "ResultPath": null,
            "OutputPath": null,
            "End": true
          }
        }
      },  
    {
      "StartAt": "WAF_Rules",
      "States": {
        "WAF_Rules": {
          "Type": "Task",
          "Resource": "arn:aws:lambda:us-east-1:514712703977:function:S3Web_Create_WAF_PGESource",
          "ResultPath": null,
          "OutputPath": "$",
          "Next": "WAF_Wait"
          },
        "WAF_Wait": {
          "Type": "Task",
          "Resource": "arn:aws:lambda:us-east-1:514712703977:function:S3Web_WAF_Wait",
          "ResultPath": null,
          "OutputPath": "$",
          "Retry" : [
            {
              "ErrorEquals": [ "States.ALL" ],
              "IntervalSeconds": 60,
              "MaxAttempts": 3,
              "BackoffRate": 2
            }
          ],
              "End": true
                }
      }
    }    
  ]
},    
"Create_Cloudfront": {
  "Type": "Task",
  "Resource": "arn:aws:lambda:us-east-1:514712703977:function:S3Web_CloudFront",
  "ResultPath": null,
  "OutputPath": "$",
  "Next": "Cloudfront_Wait"
    }, 
"Cloudfront_Wait": {
  "Type": "Task",
  "Resource": "arn:aws:lambda:us-east-1:514712703977:function:S3Web_Cloudfront_Wait",
  "ResultPath": null,
  "OutputPath": "$",
  "Retry" : [
    {
      "ErrorEquals": [ "States.ALL" ],
      "IntervalSeconds": 60,
      "MaxAttempts": 3,
      "BackoffRate": 2
    }
  ],
  "Next": "Create_Route53"
    },
"Create_Route53": {
  "Type": "Task",
  "Resource": "arn:aws:lambda:us-east-1:514712703977:function:S3web-Create-Route53-CNAME",
  "ResultPath": null,
  "OutputPath": "$",
  "Next": "Route53_Wait"
    },
"Route53_Wait": {
  "Type": "Task",
  "Resource": "arn:aws:lambda:us-east-1:514712703977:function:S3Web_Route53_Wait",
  "ResultPath": null,
  "OutputPath": "$",
  "Next": "Notify"
    },
"Notify": {
  "Type": "Task",
  "Resource": "arn:aws:lambda:us-east-1:514712703977:function:S3Web_Notify",
  "ResultPath": null,
  "OutputPath": "$",
  "End": true
    }               
  }
}